
.image-section img {
    display: flex;
    width: 55%;
}

.form-section {
    margin-right: 15px;
    padding: 35px 35px;
    border-radius: 7px;
    width: 50%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}

.form-section h1 {
    font-size: 80px;
    margin-bottom: 10px;
    color: #5573cc;
    justify-content: center;
    display: flex;
}

.form-section p {
    color: #555;
    margin-bottom: 20px;
    font-size: 30px;
}

.form-control {
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 30px;
    padding: 10px;
}

.btn-primary {
    padding: 22px 12px;
    border: none;
    background-color: #5573cc;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 40px;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.form-label {
    margin-bottom: .5rem;
    font-size: 32px;
}

.form-control select {
    font-size: 28px;
}

.floating-text {
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    color: #333;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

.main {
    display: flex !important;
}

.main img {
    display: flex;
    width: 90%;
    margin-top: 100px;
}

.sub-div {
    padding: 60px 3px 2px 30px;
    margin-bottom: 51px;
    text-align: center;
}

.sub-div h1 {
    font-family: "Source Serif 4", Georgia, serif;
    font-size: 115px;
    font-weight: 500;
    line-height: 1.2;
    text-align: center;
}

.sub-div h2 {
    font-size: 25px;
    font-weight: 500;
    line-height: 26px;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.form-section p {
    color: #555;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: "Mona Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.result {
    text-align: center;
    font-size: 30px
}

.result h2 {
    font-size: 50px;
}
